1.What are data structures, and why are they important?

Ans:-A data structure is a way of organizing and storing data in a computer so that it can be accessed and used efficiently. It refers to the logical or mathematical representation of data, as well as the implementation in a computer program.

2.Explain the difference between mutable and immutable data types with examples?

Ans:-Mutable: Mutable data types allow their values to be changed or modified in place after they have been created. Operations like adding, removing, or updating elements directly alter the existing object in memory.

        my_set = {1, 2, 3}
        my_set.add(4)      # Adds an element
        my_set.remove(1)   # Removes an element
        print(my_set)      # Output: {2, 3, 4} (order may vary)

Immutable: Immutable data types cannot be changed after they are created. Any operation that appears to modify an immutable object actually creates a new object with the desired changes, leaving the original object untouched

        my_int = 5
        my_int = my_int + 1  # Creates a new integer object with value 6
        print(my_int)        # Output: 6

3.What are the main differences between lists and tuples in Python?

Ans:- Lists: are mutable, meaning their elements can be modified (added, removed, or changed) after the list has been created.
Tuples: are immutable, meaning their elements cannot be changed once the tuple is created.

4.Describe how dictionaries store data

Ans:- store data in key-value pairs. Each unique key maps to a specific value, allowing for efficient retrieval of values based on their associated keys.

5.Why might you use a set instead of a list in Python?

Ans:-Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

6.What is a string in Python, and how is it different from a list?

Ans:-In Python, a string is a sequence of characters, such as letters, numbers, or symbols, enclosed within single quotes ('...') or double quotes ("..."). Strings are used to represent textual data.
ex:- my_string="Gagan"

A list in Python is an ordered and mutable collection of items, enclosed within square brackets ([...]). Lists can contain items of different data types, including numbers, strings, or even other lists.
example :- list =[1,2,3,3.5]

7.How do tuples ensure data integrity in Python?

Ans:-Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability.

8 What is a hash table, and how does it relate to dictionaries in Python?

Ans:-A hash table is a data structure that implements an associative array, also known as a dictionary or map. It stores key-value pairs, allowing for efficient retrieval of values based on their corresponding keys. The core principle of a hash table involves using a hash function to convert a key into an index within an array. This index then points to the location where the key-value pair is stored.

9.Can lists contain different data types in Python?

Ans:-Yes, lists in Python can contain different data types. This is a key feature of Python lists, making them highly flexible.

10.Explain why strings are immutable in Python.

Ans:-Python strings are immutable, meaning their content cannot be changed after they are created. Any operation that appears to modify a string, such as concatenation or character replacement, actually results in the creation of a new string object in memory, with the original string remaining unchanged. The variable then points to this new string object.

11.What advantages do dictionaries offer over lists for certain tasks?

Ans:-Dictionaries provide faster lookups compared to lists when searching by key, as they have an average complexity of O(1), while lists require O(n) in the worst case. Lists are faster for index-based access, as retrieving an element by index takes O(1), whereas dictionary lookups require computing a hash.

12.Describe a scenario where using a tuple would be preferable over a list.

Ans:-Lists are mutable, allowing you to modify their content, while tuples are immutable, meaning you can't change them after creation. You should prefer tuples when you need an immutable sequence, such as function return values or constant data.

13.How do sets handle duplicate values in Python?

Ans:-Sets in Python inherently do not allow duplicate values. They are designed to store only unique elements.

14.How does the “in” keyword work differently for lists and dictionaries?

Ans:-The "in" keyword in Python functions differently when used with lists and dictionaries due to their underlying data structures and how they store and retrieve information.

15.Can you modify the elements of a tuple? Explain why or why not?

Ans:-No, the elements of a tuple cannot be modified directly after the tuple has been created. Tuples are immutable data structures in Python. This means that once a tuple is defined, its size and the values of its elements cannot be changed, added, or removed. Attempting to modify an element directly will result in a TypeError.

16.What is a nested dictionary, and give an example of its use case?

Ans:-A nested dictionary in Python is a dictionary that contains other dictionaries as its values.

17.Describe the time complexity of accessing elements in a dictionary?
Ans:-The time complexity of accessing elements in a dictionary is, on average, O(1), which represents constant time. This means that the time taken to retrieve a value associated with a key does not significantly increase with the size of the dictionary.

18..In what situations are lists preferred over dictionaries?

Ans:If you need an ordered collection, like a sequence of user actions, lists are your go-to. On the other hand, when you need quick look-ups, like mapping usernames to user data, dictionaries are invaluable.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans:-Dictionaries are considered unordered because they don't store or retrieve data based on the order in which items are added.

20.Explain the difference between a list and a dictionary in terms of data retrieval.

Ans:-A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

In [2]:
#1.Write a code to create a string with your name and print it?

#Ans:-
name ="Gagan"
print(name)

Gagan

In [4]:
#2.Write a code to find the length of the string "Hello World".
#Ans:-
Str="Hello World"
print(len(Str))

11

In [6]:
#3.write a code to slice the first 3 character from the string "Python Programming".
#Ans:-
str="Python Programming"
print(str[0:3])

Pyt

In [7]:
#4.Write a code to convert the string "hello" to uppercase.
#Ans:-
str ="hello"
print(str.upper())

HELLO

In [8]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
#Ans:-
str = "I like apple"
print(str.replace("apple","orange "))

I like orange

In [12]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
#Ans:-
l=[]
for i in range(1,6):
  l.append(i)
print(l)

[1, 2, 3, 4, 5]

In [15]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
#Ans:-
list =[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [16]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
#Ans:-
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [17]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
#Ans:-
list = ['a','b','c','d']
print(list[1])

b

In [18]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
#Ans:-
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [19]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
#Ans:-
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [20]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
#Ans:-
tuple = ('red','green','blue','yellow')
print(tuple[-2])

blue

In [21]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
#Ans:-
tuple = (10,20,5,15)
print(min(tuple))

5

In [22]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
#Ans:-
tuple =('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

In [23]:
#15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
#Ans:-
tuple = ("apple","banana","kiwi")
print("kiwi" in tuple)

True

In [24]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
#Ans:-
set = {'a','b','c'}
print(set)

{'c', 'a', 'b'}

In [27]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
#Ans:-
set = {1,2,3,4,5}
set.clear()
set

set()

In [28]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
#Ans:-
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [29]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
#Ans:-
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [30]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
#Ans:-
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2))

{2, 3}

In [33]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
#Ans:-
dict = {"name" :"Gagan",
        "age":23,
        "city":"Mathura"
        }
print(dict)

{'name': 'Gagan', 'age': 23, 'city': 'Mathura'}

In [35]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
#Ans:-
dict = {"name" :"Gagan",
        "age":23,
        "city":"Mathura"
        }
dict["country"]="USA"
dict

{'name': 'Gagan', 'age': 23, 'city': 'Mathura', 'country': 'USA'}

In [36]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
#Ans:-
dict = {"name" :"Gagan",
        "age":32}
print(dict["name"])

Gagan

In [37]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
#Ans:-
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop("age")
dict

{'name': 'Bob', 'city': 'New York'}

In [38]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
#Ans:-
dict = {'name': 'Alice', 'city': 'Paris'}
print("city" in dict)

True

In [39]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
#Ans:-
list = [1,2,3,4]
print(list)
tuple = (1,2,3,4)
print(tuple)
dict = {"name":"Gagan",
        "age":23}
print(dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Gagan', 'age': 23}

In [40]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
#Ans:-
import random
list = []
for i in range(5):
  list.append(random.randint(1,100))
list.sort()
print(list)

[20, 22, 23, 61, 98]

In [41]:
#28. Write a code to create a list with strings and print the element at the third index.
#Ans:-
list =[1,2,3,"Gagan","Jugal",5,6]
print(list[3])

Gagan

In [48]:
#29. Write a code to combine two dictionaries into one and print the result.
#Ans:-
dict1 ={"name":"gagan",
        "age":23}
dict2 ={"city":"Mathura",
        "weight":70}
dict1.update(dict2)
dict1

{'name': 'gagan', 'age': 23, 'city': 'Mathura', 'weight': 70}

In [58]:
#30. Write a code to convert a list of strings into a set.
#Ans:-
my_list = ["apple","banana","kiwi"]
my_list = set(my_list)
print(my_list)

TypeError: 'set' object is not callable